.form-control {
    display: inline-block;
    width: 250px;
    margin-top: 50px;
  }

a.btn.btn-default {
  color: blue;
}

h1{ 
  color:blue;
  font-size:72px;
  text-align:center;
  display:inline-block;
  position:relative;
  width:100%; /*Add this*/
 }